<mat-toolbar>
  <span class="left-group">
    <button
      mat-raised-button
      color="primary"
      (click)="toggleSidenav()">
      <i class="fa fa-bars"></i>
      Toggle Menu
    </button>
  </span>
  <span class="right-group">
    <!-- <form class="example-form">
      <mat-form-field class="input-full-width">
        <input matInput placeholder="Search" value="">
        <i class="fa fa-search"></i>
      </mat-form-field>
    </form> -->
    <button mat-icon-button
            [matMenuTriggerFor]="appMenu">
      <i class="fa fa-user"></i>
    </button>
    <mat-menu #appMenu="matMenu"
            yPosition="below"
            xPosition="before"
            [overlapTrigger]="false">
    <button mat-menu-item>Settings</button>
    <button mat-menu-item>Help</button>
  </mat-menu>
  </span>
</mat-toolbar>
