.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

mat-grid-list {
  margin-top: 20px;
}

.page-title-bar {
  padding: 0 16px;

  & h1 {
    color: #000;
  }
}

.dashboard-card {
  border-radius: 6px;
}
