<mat-grid-list cols="2" rowHeight="fit">
  <mat-grid-tile [colspan]="2" [rowspan]="1">
    <mat-card class="dashboard-card">
      <mat-card-header>
        <mat-card-title>
          <h2>{{formTitle}}</h2>
        </mat-card-title>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content class="dashboard-card-content custom-scroll">
        <app-template-loader #template [formId]="formId"></app-template-loader>
      </mat-card-content>
      <mat-card-footer>
        <button mat-raised-button class="submit-btn" (click)="submitForm()">Submit</button>
        <button mat-raised-button class="reset-btn">Reset</button>
      </mat-card-footer>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
