mat-grid-list {
  height: 800px;
}

mat-card {
  background-color: #f5f5f5;
  padding: 0;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  height: 800px;
}
mat-card-header {
  height: 50px;
  background-color: #fff;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  padding: 0 16px;
}

mat-card-footer {
  height: 50px;
  padding-left: 16px;
  background-color: transparent;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: 0;
  justify-content: flex-end;

  button[mat-raised-button] {
    border-radius: 60px;
    margin-right: 10px;
  }

  .submit-btn {
    background-color: green;
    color: #fff;
  }

  .reset-btn {
    background-color: #fff;
    color: rgb(24, 24, 24);
  }
}

mat-card-title {
  margin: 0;
  color: #000 !important;
}

mat-card-content {
  background-color: #fff;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  height: 600px;
}

.dashboard-card-content {
  height: 500px;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
  padding: 0;
}

.question {
  font-size: 16px;
  display: table-row;
  width: 100%;
  transition: background-color 0.4s ease;
  margin: 0 16px !important;

  &::before{
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    content: '\f105';
    padding: 0 5px 0 16px;
    margin: 0;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    vertical-align: middle;
  }

  &:hover {
    background-color: #f5f5f5;
    cursor: pointer;
  }

  p {
    margin: 0;
  }

  small {
    display: block;
    padding: 5px 0;
  }

  &__text {
    margin: 0;
    display: table-cell;
    width: 85%;
    padding: 15px 0;
    vertical-align: middle;
    word-wrap: break-word;
    border-bottom: thin solid #f5f5f5;
  }

  & .radio-group {
    display: table-cell;
    vertical-align: -50%;
    padding: 15px 10px;
  }
}

:host {
  ::ng-deep mat-radio-group {

    mat-radio-button {
      &:first-of-type {
        margin-right: 10px;
        margin-left: 5px;
      }
    }
  }
}
