.instructions-block {
  padding: 10px 10px 10px 25px;
  background-color: #333333;

  h4, p, i {
    color: #fff;
  }

  h4 {
    text-transform: uppercase;
  }

  blockquote, blockquote > * {
    color: #fff;
  }

  i {
    margin-right: 10px;
  }
}

.question {
  font-size: 16px;
  width: 100%;
  transition: background-color 0.4s ease;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  border-bottom: thin solid #f5f5f5;
  align-items: center;

  &:hover {
    background-color: #f5f5f5;
    cursor: pointer;
  }

  p {
    margin: 0;
  }

  small {
    display: block;
    padding: 5px 0;
    font-weight: bold;
  }

  &__text {
    margin: 0;
    flex-basis: 75%;
    padding: 10px 15px 10px 25px;
    vertical-align: middle;
    word-wrap: break-word;
  }

  & .input-field {
    flex-basis: 15%;
    padding: 15px 10px;

    &-wrappable {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: flex-end;

      > mat-form-field {
        width: 200px;
      }
    }

    &-non-wrappable {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: center;

      > mat-form-field {
        width: 200px;
      }
    }
  }
}

.input-field__checkbox {
  mat-checkbox {
    &:first-of-type {
      margin-right: 5px !important;
    }
  }
}

.question-th {
  width: 100%;
  font-size: 16px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  background-color: #f5f5f5;

  p {
    margin: 0;
  }

  &__text {
    display: table-cell;
    font-weight: bold;
    padding: 15px 0;
  }
}

.question-th__text {
  flex-basis: 15%;

  &:first-of-type {
    flex-basis: 75%;
    padding-left: 25px;
  }
}

.question-th-span-2 {
  flex-basis: 30%;
  padding-right: 10px;
}

.invalid {
  background-color: rgb(255, 184, 184);
  width: 100%;
  padding: 10px 15px 10px 25px;
  display: block;
  font-weight: bold;
}
