.question {
  font-size: 16px;
  width: 100%;
  transition: background-color 0.4s ease;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  &:hover {
    background-color: #f5f5f5;
    cursor: pointer;
  }

  p {
    margin: 0;
  }

  small {
    display: block;
    padding: 5px 0;
  }

  &__text {
    margin: 0;
    flex-basis: 75%;
    // width: 85%;
    padding: 10px 15px 10px 25px;
    vertical-align: middle;
    word-wrap: break-word;
    border-bottom: thin solid #f5f5f5;
  }

  & .radio-group {
    // display: table-cell;
    vertical-align: -50%;
    padding: 15px 10px;
  }

  & .input-field {
    padding: 15px 10px;

    &-wrappable {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: flex-end;
    }

    &-non-wrappable {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: flex-end;
    }
  }
}

.question-th {
  width: 100%;
  font-size: 16px;
  display: table-row;
  margin: 0 16px !important;

  p {
    margin: 0;
  }

  &__text {
    display: table-cell;
    font-weight: bold;
    padding: 15px 0;
    vertical-align: middle;
    text-align: center;
  }
}

.question-th__text {
  &:first-of-type {
    width: 85%;
  }
}
